.input input{
  outline-style: none ;
  border: 0;
  border-radius: 14px;
  padding: 13px 14px;
  width: 90%;
  font-size: 15px;
}
.input textarea{
  outline-style: none ;
  border:0;
  border-radius: 22px;
  padding: 10px;
  resize: none;
  width: 91%;
  font-size: 15px;
}
.b input{
  outline-style: none ;
  border: 1;
  border-radius: 14px;
  padding: 13px 14px;
  font-size: 16px;
}
.b button{
  outline-style: none ;
  border: 1;
  border-radius: 14px;
  padding: 13px 14px;
  font-size: 16px;
}
